<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arctos_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <!-- Joint State Broadcaster -->
        <!-- <ros2_control name="joint_state_broadcaster" type="system">
            <hardware>
                <plugin>arctos_hardware/SingleJointHardware</plugin>
            </hardware>
        </ros2_control>  -->

        <!-- Each joint with its own controller -->
        <ros2_control name="X_joint_controller" type="actuator">
            <hardware>
                <plugin>arctos_hardware/SingleJointHardware</plugin>
                <param name="can_interface">can0</param>
                <param name="can_id">0x01</param>
            </hardware>
            <joint name="X_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['X_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="Y_joint_controller" type="actuator">
            <hardware>
                <plugin>arctos_hardware/SingleJointHardware</plugin>
                <param name="can_interface">can0</param>
                <param name="can_id">0x02</param>
            </hardware>
            <joint name="Y_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['Y_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="Z_joint_controller" type="actuator">
            <hardware>
                <plugin>arctos_hardware/SingleJointHardware</plugin>
                <param name="can_interface">can0</param>
                <param name="can_id">0x03</param>
            </hardware>
            <joint name="Z_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['Z_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="A_joint_controller" type="actuator">
            <hardware>
                <plugin>arctos_hardware/SingleJointHardware</plugin>
                <param name="can_interface">can0</param>
                <param name="can_id">0x04</param>
            </hardware>
            <joint name="A_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['A_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="B_joint_controller" type="actuator">
            <hardware>
                <plugin>arctos_hardware/SingleJointHardware</plugin>
                <param name="can_interface">can0</param>
                <param name="can_id">0x05</param>
            </hardware>
            <joint name="B_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['B_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="C_joint_controller" type="actuator">
            <hardware>
                <plugin>arctos_hardware/SingleJointHardware</plugin>
                <param name="can_interface">can0</param>
                <param name="can_id">0x06</param>
            </hardware>
            <joint name="C_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['C_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

    </xacro:macro>
</robot>